#TableOfContents:before {
    content: "What's on this Page";
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 0 0
}

#TableOfContents {
    /* background-color: #f6f6f6; */
    border-radius: .2rem 0 0 .2rem;
    box-sizing: border-box;
    /* max-height: calc(100% - 10.5rem); */
    max-height: calc(100% - 7.5rem);
    overflow: auto;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 4rem;
    /* top: 0; */
    width: 17rem;
    border-left: 1px solid #f3f1f1;
    border-bottom: 1px solid #f3f1f1;
}

#TableOfContents>h1 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 0 1rem
}

#TableOfContents ul {
    font-size: 0.9rem;
    list-style: none;
    padding: 0 1rem;
    margin-left: 0;
    margin-right: 0;
}

#TableOfContents>ul {
    list-style: none;
    margin-left: -1rem;
    margin-right: 0;
}

#TableOfContents>ul>li>ul {
    list-style: none;
    margin-left: -1rem;
    margin-right: 0;
}

